<div class="panel-group" id="accordion">
  <% counter = 1 %>
  <% @versions.each do |version| %>
  <% event = version.event == "create" ? "Service created" : "Service updated" %>
  <% grade = version.changeset["grade"] %>
  <% wikipedia = version.changeset["wikipedia"] %>
  <% counter += 1 %>
  <div class="panel panel-default" id="panel<%=counter%>">
    <div class="panel-heading" id="panel-style">
      <div class="row">
        <div class="col-sm-4">
          <h5>
              <b>Version <%= counter - 1 %>:</b> <%= format_time(version.changeset["updated_at"].second.time) %>
          </h5>
        </div>
        <div class="col-sm-4">
          <h5>
            <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <%= event %>
            </a>
          </h5>
        </div>
        <div class="col-sm-4 text-right">
          <a data-toggle="collapse" data-target="#collapse<%=counter%>"
              href="#collapse<%=counter%>" class="collapsed">
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
        </div>
    </div>
  </div>
    <div id="collapse<%=counter%>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <p><b>Previous Grade:</b> <%= format_figures(grade) %></p>
            <p><b>Updated Grade:</b> <%= format_figures(grade, first = false) %></p>
          </div>
          <div class="col-sm-6">
            <p><b>Previous Link:</b> <%= format_figures(wikipedia) %></p>
            <p><b>Updated Link:</b> <%= format_figures(wikipedia, first = false) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

